<!DOCTYPE html>
<html>
<head>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="app">
        <template id="drink_bar">
<!--    API is loading...     -->
            <v-container fluid v-if="api_loading === true">
                <v-layout>
                    <v-flex xs12>
                        <div class="resultContainer" >
                            <v-layout align-center justify-center fill-height>
                                <v-progress-circular
                                        :size="70"
                                        :width="7"
                                        color="green"
                                        indeterminate
                                ></v-progress-circular>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
<!--    show PurchaseOrder Graph     -->
            <v-container fluid v-else height="100%">
                <bar-chart
                        v-if="!api_loading"
                        :graph_data="graph_data"
                ></bar-chart>
            </v-container>
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='vconsole.min.js') }}"></script>
    <script src="{{ url_for('static', filename='purchase_orders.js') }}"></script>
</body>
</html>
